<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Menus</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="../css/styleAccueil.css">
		<link href="http://fr.allfont.net/allfont.css?fonts=oranienbaum" rel="stylesheet" type="text/css" />
	</head>
	<body>

		{{ include('banner.html.twig') }}

<div class="container-fluid">
	<div class="row">
  		<div class="col-xl-4">
  			{{ include('menu.html.twig') }}
  		</div>
  		<div class="col-xl-8">
  			<div id="presentation">
                            
                            {% for menu in menus %}
                                
                                <button onclick="article({{menu.id}})" style="display: block;" class="menuDescription"> {{ menu.title }} </button>

				<div id="article{{ menu.id }}" style="display: none;">
  					{{ menu.content|raw }}
                                        <a href="{{ path('menu_edit', {'id': menu.id}) }}">Modifier</a>
                                        {{ include('menu/_delete_form.html.twig') }}    
				</div>
                                
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucun menu</td>
                                </tr>
                            {% endfor %}                            
                            <a href="{{ path('menu_new') }}"> Créer un nouvelle article </a>
                                                                      
			</div>
  		</div>

	</body>
</html>

<script type="text/javascript">
    function article(id) {
        var x = document.getElementById("article" + id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>