<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
	<title>Menus</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="../css/styleAccueil.css">
	<link href="http://fr.allfont.net/allfont.css?fonts=oranienbaum" rel="stylesheet" type="text/css" />
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
    </head>

    <body>
        
        <!-- banner --> 
        {{ include('banner.html.twig') }}

        <!-- content -->
        <div class="container-fluid">
            <div class="row">
                
                <!-- menu -->
  		<div class="col-xl-4">
  			{{ include('menu.html.twig') }}
  		</div>
                
                <!-- menu list -->
  		<div class="col-xl-8">
                    <div id="presentation">
                            
                        {% for menu in menus %}
                                
                            <!-- dropdown button -->
                            <button onclick="article({{menu.id}})" style="display: block;" class="menuDescription"> {{ menu.title }} </button>
                                
                            <!-- menu description -->
                            <div id="article{{ menu.id }}" style="display: none;">
                                {{ menu.content|raw }}
                                    
                                <!-- edit and delete a menu (if user is admin) -->
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">Modifier</a>
                                    {{ include('menu/_delete_form.html.twig') }}   
                                {% endif %} 
                            </div>
                            
                        {% else %}
                            <tr>
                                <td colspan="4"> Aucun menu </td>
                            </tr>
                        {% endfor %}
                        
                        <!-- create new menu (if user is admin)-->
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('menu_new') }}"> Créer un nouvelle article </a>
                        {% endif %}                                             
                    </div>
  		</div>
            </div>
        </div>
                        
    </body>
</html>

<!-- script for dropdown article -->
<script type="text/javascript">
    function article(id) {
        var x = document.getElementById("article" + id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>